<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
    link(rel="stylesheet", href="index.css")
    title 3D Isometric Social Icon Hover Effecs | CSS3
  body
    .container
      ul.nav-list
        li.nav-item
          a(href="#").nav-link
            span
            span
            span
            span
            span.fab.fa-codepen
        li.nav-item
          a(href="#").nav-link
            span
            span
            span
            span
            span.fab.fa-linkedin
        li.nav-item
          a(href="#").nav-link
            span
            span
            span
            span
            span.fab.fa-instagram
        li.nav-item
          a(href="#").nav-link
            span
            span
            span
            span
            span.fab.fa-twitter
        li.nav-item
          a(href="#").nav-link
            span
            span
            span
            span
            span.fab.fa-facebook-f
        li.nav-item
          a(href="#").nav-link
            span
            span
            span
            span
            span.fab.fa-github

